<%- include("partials/head"); -%>
    <div class="header">
        <%- include("partials/header"); -%>
    </div>

    <div class="main">
        <h1>Home</h1>
        <p class="content">
            <%= homeData %>
        </p>

        <% postData.forEach(function(element) { %>
            <h1>
                <%= element.title %>
            </h1>
            <p class="content">
                <%= element.post %>
            </p>
            <% }); %>

    </div>

    <div class="footer">
        <%- include("partials/footer"); -%>
    </div>
<%- include("partials/foot"); -%>