<%- include("partials/head"); -%>
    <div class="header">
        <%- include("partials/header"); -%>
    </div>

    <div class="main">
        <h1>
            <%= postTitle %>
        </h1>
        <p class="content">
            <%= postContent %>
        </p>
    </div>

    <div class="footer">
        <%- include("partials/footer"); -%>
    </div>
    <%- include("partials/foot"); -%>